target
/bin/
*.log
*.log.*

.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_10_4_jar.xml

.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_10_4_jar.xml

.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_10_4_jar.xml

.idea/libraries/sbt__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_10_4_jar.xml

.idea/libraries/sbt__com_typesafe_netty_netty_reactive_streams_2_0_4_jar.xml

.idea/libraries/sbt__com_typesafe_netty_netty_reactive_streams_http_2_0_4_jar.xml

.idea/libraries/sbt__commons_codec_commons_codec_1_11_jar.xml

.idea/libraries/sbt__commons_logging_commons_logging_1_2_jar.xml

.idea/libraries/sbt__io_netty_netty_buffer_4_1_46_Final_jar.xml

.idea/libraries/sbt__io_netty_netty_codec_4_1_46_Final_jar.xml

.idea/libraries/sbt__io_netty_netty_codec_http_4_1_46_Final_jar.xml

.idea/libraries/sbt__io_netty_netty_codec_http2_4_1_46_Final_jar.xml

.idea/libraries/sbt__io_netty_netty_common_4_1_46_Final_jar.xml

.idea/libraries/sbt__io_netty_netty_handler_4_1_46_Final_jar.xml

.idea/libraries/sbt__io_netty_netty_resolver_4_1_46_Final_jar.xml

.idea/libraries/sbt__io_netty_netty_transport_4_1_46_Final_jar.xml

.idea/libraries/sbt__io_netty_netty_transport_native_epoll_4_1_46_Final_linux_x86_64_jar.xml

.idea/libraries/sbt__io_netty_netty_transport_native_unix_common_4_1_46_Final_jar.xml

.idea/libraries/sbt__org_apache_httpcomponents_httpclient_4_5_9_jar.xml

.idea/libraries/sbt__org_apache_httpcomponents_httpcore_4_4_11_jar.xml

.idea/libraries/sbt__org_reactivestreams_reactive_streams_1_0_3_jar.xml

.idea/libraries/sbt__org_slf4j_slf4j_api_1_7_28_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_accessanalyzer_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_acm_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_acmpca_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_alexaforbusiness_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_amplify_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_annotations_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_apache_client_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_apigateway_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_apigatewaymanagementapi_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_apigatewayv2_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_appconfig_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_applicationautoscaling_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_applicationdiscovery_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_applicationinsights_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_appmesh_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_appstream_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_appsync_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_arns_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_athena_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_auth_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_autoscaling_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_autoscalingplans_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_aws_cbor_protocol_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_aws_core_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_aws_json_protocol_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_aws_query_protocol_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_aws_sdk_java_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_aws_xml_protocol_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_backup_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_batch_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_budgets_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_chime_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloud9_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_clouddirectory_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloudformation_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloudfront_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloudhsm_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloudhsmv2_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloudsearch_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloudsearchdomain_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloudtrail_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloudwatch_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloudwatchevents_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cloudwatchlogs_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_codeartifact_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_codebuild_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_codecommit_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_codedeploy_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_codeguruprofiler_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_codegurureviewer_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_codepipeline_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_codestar_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_codestarconnections_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_codestarnotifications_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cognitoidentity_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cognitoidentityprovider_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_cognitosync_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_comprehend_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_comprehendmedical_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_computeoptimizer_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_config_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_connect_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_connectparticipant_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_costandusagereport_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_costexplorer_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_databasemigration_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_dataexchange_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_datapipeline_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_datasync_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_dax_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_detective_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_devicefarm_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_directconnect_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_directory_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_dlm_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_docdb_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_dynamodb_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_ebs_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_ec2_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_ec2instanceconnect_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_ecr_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_ecs_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_efs_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_eks_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_elasticache_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_elasticbeanstalk_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_elasticinference_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_elasticloadbalancing_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_elasticloadbalancingv2_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_elasticsearch_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_elastictranscoder_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_emr_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_eventbridge_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_firehose_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_fms_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_forecast_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_forecastquery_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_frauddetector_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_fsx_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_gamelift_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_glacier_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_globalaccelerator_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_glue_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_greengrass_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_groundstation_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_guardduty_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_health_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_honeycode_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_http_client_spi_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iam_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_imagebuilder_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_inspector_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iot_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iot1clickdevices_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iot1clickprojects_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iotanalytics_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iotdataplane_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iotevents_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_ioteventsdata_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iotjobsdataplane_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iotsecuretunneling_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iotsitewise_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_iotthingsgraph_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_kafka_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_kendra_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_kinesis_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_kinesisanalytics_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_kinesisanalyticsv2_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_kinesisvideo_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_kinesisvideoarchivedmedia_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_kinesisvideomedia_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_kinesisvideosignaling_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_kms_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_lakeformation_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_lambda_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_lexmodelbuilding_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_lexruntime_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_licensemanager_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_lightsail_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_machinelearning_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_macie_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_macie2_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_managedblockchain_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_marketplacecatalog_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_marketplacecommerceanalytics_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_marketplaceentitlement_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_marketplacemetering_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_mediaconnect_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_mediaconvert_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_medialive_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_mediapackage_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_mediapackagevod_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_mediastore_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_mediastoredata_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_mediatailor_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_migrationhub_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_migrationhubconfig_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_mobile_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_mq_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_mturk_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_neptune_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_netty_nio_client_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_networkmanager_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_opsworks_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_opsworkscm_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_organizations_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_outposts_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_personalize_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_personalizeevents_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_personalizeruntime_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_pi_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_pinpoint_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_pinpointemail_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_pinpointsmsvoice_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_polly_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_pricing_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_profiles_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_protocol_core_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_qldb_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_qldbsession_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_quicksight_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_ram_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_rds_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_rdsdata_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_redshift_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_regions_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_rekognition_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_resourcegroups_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_resourcegroupstaggingapi_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_robomaker_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_route53_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_route53domains_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_route53resolver_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_s3_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_s3control_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sagemaker_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sagemakera2iruntime_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sagemakerruntime_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_savingsplans_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_schemas_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sdk_core_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_secretsmanager_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_securityhub_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_serverlessapplicationrepository_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_servicecatalog_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_servicediscovery_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_servicequotas_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_ses_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sesv2_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sfn_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_shield_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_signer_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sms_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_snowball_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sns_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sqs_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_ssm_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sso_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_ssooidc_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_storagegateway_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_sts_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_support_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_swf_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_synthetics_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_textract_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_transcribe_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_transcribestreaming_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_transfer_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_translate_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_utils_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_waf_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_wafv2_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_workdocs_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_worklink_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_workmail_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_workmailmessageflow_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_workspaces_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_awssdk_xray_2_13_48_jar.xml

.idea/libraries/sbt__software_amazon_eventstream_eventstream_1_0_1_jar.xml

.idea/modules/

.idea/libraries/
